  <form [formGroup]="admin_Create_hotel" (ngSubmit)="onSubmit()">

    <div class="row mb-3">
      <ng-container *ngIf="admin_Create_hotel.get('HotelName') as hotelNameControl">
        <div class="col-lg-6">
          <label [ngStyle]="{'color':'white'}" for="HotelName" class="control-label">Hotel Name</label>
          <input type="text" formControlName="HotelName" class="form-control" />
          <span *ngIf="hotelNameControl.invalid && (hotelNameControl.touched || hotelNameControl.dirty)" class="text-danger">
            <span *ngIf="hotelNameControl.errors?.['required']" [ngStyle]="{'color': 'red'}">
              Hotel Name is required.
            </span>
          </span>
        </div>
      </ng-container>
 
  
    <!-- Phone Number -->
  
      <ng-container *ngIf="admin_Create_hotel.get('PhoneNo') as hotel_phone_control">
        <div class="col-lg-6">
          <label [ngStyle]="{'color':'white'}" for="PhoneNo" class="control-label">Phone Number</label>
          <input type="text" formControlName="PhoneNo" class="form-control" />
          <span *ngIf="hotel_phone_control.invalid && (hotel_phone_control.touched || hotel_phone_control.dirty)" class="text-danger">
            <span *ngIf="hotel_phone_control.errors?.['required']" [ngStyle]="{'color':'red'}">
              Hotel phone number is required.
            </span>
          </span>
        </div>
      </ng-container>
    </div>
  
    <!-- Email Address -->
    <div class="row mb-3">
      <ng-container *ngIf="admin_Create_hotel.get('Email') as hotel_email">
        <div class="col-lg-6">
          <label [ngStyle]="{'color':'white'}" for="Email" class="control-label">Email Address</label>
          <input type="text" formControlName="Email" class="form-control" />
          <span *ngIf="hotel_email.invalid && (hotel_email.touched || hotel_email.dirty)" class="text-danger">
            <span *ngIf="hotel_email.errors?.['required']" [ngStyle]="{'color':'red'}">
              Email address is required.
            </span>
          </span>
        </div>
      </ng-container>
  
    <!-- Country -->
   
      <ng-container *ngIf="admin_Create_hotel.get('CountryId') as countryControl">
        <div class="col-lg-6">
          <label [ngStyle]="{'color':'white'}" for="country" class="control-label">Country</label>
          <ng-select id="country" class="form-select" [searchable]="true" formControlName="CountryId" (change)="onCountryChange()">
            <ng-option value="" selected>Select a country</ng-option>
            <ng-option *ngFor="let option of country_dropdown_List" [value]="option.countryId | number">
              {{ option.countryName }}
            </ng-option>
          </ng-select>
          <span *ngIf="countryControl.invalid && (countryControl.touched || countryControl.dirty)" class="text-danger">
            Country is required.
          </span>
        </div>
      </ng-container>
    </div>
  
    <div class="row mb-3">
    <ng-container *ngIf="admin_Create_hotel.get('StateId') as stateControl">
      <div class="col-lg-6">    
        <label [ngStyle]="{'color':'white'}" for="state" class="control-label">State</label>
        <ng-select id="state" class="form-select"
          [searchable]="true"
          formControlName="StateId"
          (change)="onStateChange()"
          [disabled]="!load_state_by_selected_country.length">               
          <!-- Placeholder as the first option -->
          <ng-option  value="" selected>
            Select a state
          </ng-option>          
          <ng-option *ngFor="let state of load_state_by_selected_country" [value]="state.stateId | number">
            {{ state.stateName }}
          </ng-option>
        </ng-select>        
        <span *ngIf="stateControl.invalid && 
                      (stateControl.touched || stateControl.dirty)" 
              class="text-danger">
          State is required.
        </span>
      </div>   
    </ng-container>

 
    <ng-container *ngIf="admin_Create_hotel.get('DistrictId') as districtControl">
      <div class="col-lg-6">  
        <label [ngStyle]="{'color':'white'}" for="district" class="control-label">District</label>
        <ng-select id="district" class="form-select"
          [searchable]="true"
          formControlName="DistrictId"
         
          [disabled]="!load_District_by_selected_state.length">               
          <!-- Placeholder as the first option -->
          <ng-option value="" selected>
            Select a district
          </ng-option>          
          <ng-option *ngFor="let district of load_District_by_selected_state" [value]="district.districtId | number">
            {{ district.districtName }}
          </ng-option>
        </ng-select>        
        <span *ngIf="districtControl.invalid && 
                      (districtControl.touched || districtControl.dirty)" 
              class="text-danger">
          District is required.
        </span>
      </div>
    </ng-container>
  </div> 


  <div class="row mb-3">    
    <ng-container *ngIf="admin_Create_hotel.get('location') as locationControl">
      <div class="col-lg-6">     
        <label [ngStyle]="{'color':'white'}" for="location" class="control-label">Location</label>
        <input type="text" id="location" formControlName="location" class="form-control" placeholder="Enter location" />
        
        <span *ngIf="locationControl.invalid && 
                      (locationControl.touched || locationControl.dirty)" 
              class="text-danger">
          Location is required.
        </span>
      </div>   
    </ng-container>

    <ng-container *ngIf="admin_Create_hotel.get('formFile') as hotelImageControl">
      <div class="col-lg-6">     
        <label [ngStyle]="{'color':'white'}" for="formFile" class="control-label">Hotel Image</label>
        <input type="file" id="formFile" formControlName="formFile" class="form-control" (change)="onFileChange($event)" value="file" />
        
        <span *ngIf="hotelImageControl.invalid && 
                      (hotelImageControl.touched || hotelImageControl.dirty)" 
              class="text-danger">
          Hotel image is required.
        </span>
      </div> 
    </ng-container>   
  </div>    
  
 
  <ng-container *ngIf="admin_Create_hotel.get('HotelFacilities') as facilitiesControl">  
    
      <label [ngStyle]="{'color':'white'}" class="control-label">Hotel Facilities</label>
      <div class="d-flex flex-wrap  gap-3 mt-2">
      <div *ngFor="let facility of hotel_facility_list">
        <input
        type="checkbox"
        [value]="facility.hotelFacility_Id"  
        (change)="onFacilityChange($event)"
        [checked]="admin_Create_hotel.get('HotelFacilities')?.value.includes(facility.hotelFacility_Id)" 
      />
               <!-- or use this  [checked]="facilitiesControl.value.includes(facility)" /> -->
        <label [ngStyle]="{'color':'white'}">{{ facility.hotelFacilityName  }}</label>
      </div>

      <span *ngIf="facilitiesControl.invalid && 
                    (facilitiesControl.touched || facilitiesControl.dirty)" 
            class="text-danger">
        At least one facility is required.
      </span>
    </div>
  
  </ng-container>


    

  
    <button type="submit" class="btn btn-primary" [disabled]="admin_Create_hotel.invalid">Create</button>
  </form>
  
